body {
    background-color: black;
    background-image: url("images/background.png");
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

header {
    background-image: url('images/header.png');
    color: #fff;
    padding: 10px;
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

header > h2 {
    color: #fff;
}

#container {
    margin: 0 auto;
    padding: 20px;
    padding-top: 7.5%;
    top: 20%;
}

#search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#search-bar {
    display: flex;
    width: 100%;
}

#login-button {
    position: relative;
}

#product-table {
    margin-top: 20px;
    display: flex;
}

#product-table > .div {
    width: 20%;
    height: 20%;
}

.product-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust vertical alignment as needed */
    align-items: start;
    margin: 10px;
    background-color: #999;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5%;
    border: 3px solid #777;
}

.product-item > img {
    max-width: 80%;
    max-height: 80px;
    flex-shrink: 0; /* Prevent image from shrinking */
}

.product-item > .content {
    flex-grow: 1; /* Allow content to expand and fill remaining space */
    display: flex;
    flex-direction: column;
}

.button {
    background-image: url('images/button.png');
}